      /* Colors 
      Background #0b0c10
      Background Accent #1f2883
      Text #c5c6c7
      Accent 1 (Light) #f14e4e
      Accent 2 (Dark) #812e2e
      */
      /* font-family: 'Montserrat', sans-serif;
      font-family: 'Playfair Display', serif;
      */

/* Layout styling */
main {
  padding-top: 133px;
  box-sizing: border-box
}

h2 {
  text-align: center;
  padding: 10;
  color: #f14e4e;
}

.logo {
  max-width: 50px;
  padding: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  opacity: 1;
  float: left;
}

.logo a:hover {
    opacity: 0.2;
}

nav {
  width: 100%;
  float: right;
  text-align: center;
  z-index: 500;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline;
}

nav > ul > li {
  display: inline;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

nav > ul > li > a:visited {
  color: #c5c6c7
}

nav > ul > li > a:hover {
  color: #f14e4e
}

nav > ul > li > a:active {
  color: #c5c6c7;
}

.container {
  padding: 0 15px; 
  width: auto;
}

.col {
  margin: 1em;
  padding-block-end: 1em;
  background-color: #e0e0e0;
  text-align: center;
  color: #0b0c10;
  width: 50%;
}

.skills_tools > ul > li {
  list-style-type: none;
  font-size: 1em;
}

#hero .container h1 {
    text-align: left;
    font-family: 'Playfair Display'; 
  }

.row {
    margin: 25px 0;
    padding: 15px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

#work .row { 
  padding-bottom: 25px;
 }

 .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
 #about-page h3 { margin-top: 0;}
 
header { 
  width: 100%;
  background-color: #0b0c10;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(51, 50, 50, 1);
  -moz-box-shadow:    1px 1px 7px 0px rgba(51, 50, 50, 1);
  box-shadow:         1px 1px 7px 0px rgba(51, 50, 50, 1);
  position: fixed;
}

#hero {
  background-color: #0b0c10;
  padding: 20px 0;
  display: block;
  width: 100%;
}

#hero span {
  display: block;
}

.coffee {
  width: 25%;
  padding: 40px;
    -webkit-transition: -webkit-transform .8s;
    -ms-transition: -ms-transform .8s;
    transition: transform .8s;
    display: block;
    margin: auto;
}

.coffee:hover {
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

img {
    width: 100%;
  }

.p {
    font-size: 12px
  }

body {
    background-color: #0b0c10; color: #ffff; font-size: 10px; font-weight: 400; line-height: 1.75; 
  }

h2 {
  font-weight: bolder
}

[class*="col-"] {
      float: left;
    }

    .col-md-6 {
      width: 50%;
    }

    .col-lg-7 {
      width: 60%;
    }

   .button {
  display: inline-block;
  color: white !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}
  a {
    color: #ffffff;
    text-decoration: none; /* No underlining */
  }

  a:hover {
    color: #ffffff;
    text-decoration: underline;
    opacity: 0.8 /* Underlining when hovering over a link */
  }

  a:active { /* selected link */
    color: #812e2e;
  }

  a:focus {
    color: #c5c6c7;
    text-decoration: underline;
  }

.button.contact {
    background-color: transparent;
    color: #f14e4e !important;
    text-transform: uppercase;
    border: 2px solid #f14e4e;
  }

  .button.contact:hover {
    background-color: #812e2e;
    color: #ffffff !important;
  }

  .info_button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #f14e4e;
    color: #ffffff !important; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #812e2e; /* width of the border, type, color */
    opacity: 0.6;
    transition: 0.3s;
  }

  .info_button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none; color: #ffffff
  }
footer {
  font-size: 12pt; font-family: 'Playfair Display'; text-align: center; display: block; 
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  text-align: unset;

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  text-align: unset;

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
}